@font-face {
  font-family: 'pixelada';
  src: url(font/pixel.ttf);
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: azure;
}
a {
  font-family: 'Roboto';
  text-decoration: none;
  background-image: url(../fotos/galaxia.jpg);
  background-size: cover;
  color: #fff;
  padding: 1px 24px;
  font-size: 33px;
  border-radius: 20px;
}
.player-card {
  background: #010301;
  background: linear-gradient(88deg, rgba(1, 3, 1, 1) 24%, rgba(0, 255, 132, 1) 100%);
  border-radius: 10px;
  width: 300px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.header {
  text-align: center;
  color: #000000;
  background-color: #ADFDC0;
}
  
.header h1 {
  font-size: 18px;
  margin-bottom: 5px;
}
  
.header p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}
  
.content {
  display: flex;
  margin-top: 20px;
}
  
.avatar {
  width: 60px;
  height: 90px;
  margin-right: 15px;
}
.avatar img {
  width: 100%;
}
.info {
  flex: 1;
}
  
.info p {
  margin: 5px 0;
}
  
.xp-bar {
  background-color: #68a075;
  height: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
  
.xp-progress {
  background-color: #ADFDC0;
  height: 100%;
  border-radius: 5px;
}
  
.achievements {
  display: flex;
  justify-content: space-between;
}
.achievements p3 {
  text-size-adjust: 60px;
  color: red;
}